/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom Style */
body{
    line-height: 1.5;
    font-family: sans-serif;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
:root{
    --primary:rgb(33,41,70);
    --bg:rgb(233,236,252);
    --tertiary:rgb(54,182,103);
    --text-dark:rgb(2,6,18);
    --text-light:rgb(167,168,170);
}
a{
    text-decoration: none;
}
/* Header */
html{
    font-size: 16px;
}
.header{
    background-color:var(--primary) ;
    padding: 15px 0;
}
.nav a{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    margin-left: 1.2rem;
}
.active a{
    color: var(--tertiary);
}
/* section */
.section-1{
    background-color: var(--bg);
}
.article-1{
    padding: 5rem;
}
h1{
    font-size: 2.5rem;
}
.para{
    font-size: 20px;
    color: var(--text-light);
    margin: 20px 0;
}
.btn{
    background-color: var(--tertiary);
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
}
h2{
    margin: 50px 0;
    font-size: 3rem;
    text-align: center;
}
h3{
    font-size: 2rem;
}
.gallery-article{
    width: 100%;
}
.gallery-article img{
    width: 100%;
}
.article-info{
    margin-left: 2.6rem;
}
/* footer */
footer{
    padding: 20px;
    margin-top: 30px;
    background-color: var(--primary);
}
small{
    padding-left: 5rem;
    color: white;
    font-size: 1.5rem;
}
.font{
    padding-right: 5rem;
}
.font i{
    font-size: 2rem;
    margin-left: 1.2rem;
    color: rgb(188,192,209);
}
@media screen and (max-width:768) {
    html{
        font-size: 10px;
    }
    body{
        color: aliceblue;
    }
    
}